.App {
  text-align: center;
}

.container {
  display: flex;
  height: 100vh;
}

.left-panel {
  flex: 1;
  background-color: #f0f0f0;
  overflow-y: auto;
}

.right-panel {
  flex: 2;
  background-color: #e0e0e0;
}

.list-header {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.left-panel ul {
  list-style-type: none; 
  padding: 0;
  margin: 0;  /* Ensuring there is no default margin */
}

.left-panel li{
  text-align: center; 
  font-size: 1.2em;
  margin: 15px 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #f0f0f0; 
}

.left-panel li:hover{
  background-color: #f5f5f5;
}

.left-panel li.selected {
  background-color: #d5d5d5;
}

.item-description {
  font-size: 0.8em;
  color: #555;
  margin-top: 5px;
}

.add-list-btn {
  text-align: center; 
  font-size: 1.2em;
  margin: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-list-btn:hover {
  background-color: #4CAF50;
  color: white;
}
