.App {
  text-align: center;
}

.container {
  display: flex;
  height: 100vh; 
}

.left-panel {
  flex: 1; 
  background-color: #f0f0f0; 
  overflow-y: auto; /* If content overflows, make it scrollable */
}

.right-panel {
  flex: 2; 
  background-color: #e0e0e0; 
}

.list-header {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}