{
    "openstack_domainname": "",
    "openstack_credentialid": "",
    "openstack_credentialsecret": "",
    "openstack_projectid": "",
    "openstack_url":"", 
    "public_network":"",
    "flavor_name":"",
    "token":"" 
}
